@font-face {
    font-family: Norse-Bold;
    src: url(../fonts/Norse-Bold.otf);
  }



*{
    padding: 0;
    margin: 0;
    
}
.container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.image-section {
    background-position: center center;
    background-image: url("./side-img.jpg");
    background-size: cover;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-align: center;
  }
  

  
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5.5rem;
    font-family: "Norse Bold";
    margin-top: 20vh;
    padding: 16px 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
.banner img {
    height: 125px;
  }
  
.banner h2{
    margin: 0;
  }
  
.attribution {
    font-size: 0.9rem;
  }



.right{
    width: 65vw;
    display: flex;   
    flex-direction: column;
    background-color: #f2f2f2;
    font-family: Norse-Bold, sans-serif;
    color: #3a3a3a;
}

.box-1{
    height: 30vh;
    padding-top: 10%;
    padding-left: 5%;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
}

.box-2{
    display: flex;
    flex-direction: column;
    height: 40vh;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    padding-left: 5%;
    box-shadow: 2px 5px #b4aeae;

}
.form{
    display: flex;
    gap: 10%;
    margin-top: 2%;
}
.form-divs{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.box-3{
    height: 30vh;
    
}

input{
    width: 250px;
    height: 20px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

input:focus {
    border-color: 1px solid blue;
}
input:invalid {
  border-color: red;
}
input:valid {
  border-color: green;
}
.btn{
    background-color: #596D48;
    color: white;
    padding: 10px 25px;
    border-radius: 8px;
    margin-left: 5%;
    margin-top: 5%;
    font-size: medium;
    box-shadow: 2px 3px #b4aeae;
    
}

#error{
    text-align: start;
    color: red;
    font-size: x-small;
}
.login{
    margin-top: 5px;
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
}
.login{
    color:  #596D48;;
}
.editor{
    color: white;
}

a {
    color: white;
  }
  